<footer class="footer footer-topbar black-bg">
  <div class="copyright">
  <div class="container">
  <div class="row">
  <div class="col-lg-6">
  <img class="img-fluid mb-10" id="logo-footer" src="images/ss/transparent_background.png" alt="Suddenly Sima Logo">
        <div class="footer-text">
           <p> ©Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="www.suddenlysima.com"> Suddenly Sima </a> All Rights Reserved </p>
        </div>
    </div>
    <div class="col-lg-6">
    <div class="footer-social">
        <ul class="text-left text-lg-right">
           <li class="list-inline-item"><a href="index.html">Home</a> &nbsp;&nbsp;&nbsp;|</li>
           <li class="list-inline-item"><a href="blog.html">Blog</a> &nbsp;&nbsp;&nbsp;|</li>
           <li class="list-inline-item"><a href="about.html">About </a> </li>
        </ul></div>
      <div class="social-icons color-hover text-left text-lg-right mt-20">
           <ul class="clearfix"> 
            <li class="social-facebook"><a href="https://www.facebook.com/SuddenlySima/"><i class="fa fa-facebook"></i></a></li>
            <li class="social-twitter"><a href="https://twitter.com/suddenlysima"><i class="fa fa-twitter"></i></a></li>
            <li class="social-linkedin"><a href="https://www.pinterest.com/suddenlysima/"><i class="fa fa-pinterest"></i> </a></li>
           </ul>
         </div>
    </div>
  </div>
  </div>
  </div>
  </footer>